<!-- 
    <h1 id="h1">An h1 headline inside of #mydiv</h1>
    <h2 id="h2">An h2 headline standalone</h2>
  -->

  <h2 style="text-align: center; margin-top: 0px;">Welcome to Repl-ize</h2>
  <p style="text-align: center;">You can toggle the appearance/disappearance of the console below. Simply input your code just as you would in IRB to play around in your very own, in-browser Ruby playground.</p>
  <div id="my-btns">
    <button class="btn-danger btn-sm" id="show-irb">Show Console</button>
    <a href="https://github.com/SophieDeBenedetto/repl-ize"><button style="margin-left: 65px;"class="btn-danger btn-sm" id="show-irb">Source Code</button></a>
  </div>